<style>
	#footer a {
		width: 13%;
		padding-left: 3%;
	}
</style>
<footer id="footer">
  <a href="{{ "/" | absolute_url }}">Welcome</a>
  <a href="{{ "/about-us/" | absolute_url }}">About&nbsp;us</a>
  <a href="{{ "/schedule/" | absolute_url }}">Schedule</a>
  <a href="{{ "/gallery/" | absolute_url }}">Gallery</a>
  <a href="{{ "/members/" | absolute_url }}">Members</a>
  <a href="{{ "/support/" | absolute_url }}">Support</a>
  <a href="{{ "/contact-us/" | absolute_url }}">Contact&nbsp;us</a>

</footer>
