<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Welcome</a></li>
  <li class="{% if page.url contains '/about-us/' %} active {% endif %}"><a href="{{ "/about-us/" | absolute_url }}">About&nbsp;us</a></li>
  <li class="{% if page.url contains '/schedule/' %} active {% endif %}"><a href="{{ "/schedule/" | absolute_url }}">Schedule</a></li>
  <li class="{% if page.url contains '/gallery/' %} active {% endif %}"><a href="{{ "/gallery/" | absolute_url }}">Gallery</a></li>
  <li class="{% if page.url contains '/roster/' %} active {% endif %}"><a href="{{ "/roster/" | absolute_url }}">Members</a></li>
  <li class="{% if page.url contains '/sponsor-band/' %} active {% endif %}"><a href="{{ "/sponsor-band/" | absolute_url }}">Support</a></li>
  <li class="{% if page.url contains '/contact-us/' %} active {% endif %}"><a href="{{ "/contact-us/" | absolute_url }}">Contact&nbsp;us</a></li>
</ul>
